
body{
    background-color: hsl(225, 100%, 94%) ;
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
}

.card{
    text-align: center;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    border-radius: 5%;
    background-color: white;
    overflow: hidden;
}

.banner{
    width: 400px;
    margin-bottom: 15px;
}

.header{
    position: relative;
    width: 300px;
    left: 50px;
}

.paySection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
}
.subtitle{
    margin-right: 60px;
    margin-left: 15px;
    font-weight: bolder;
}

.link-blue{
    margin: 1em auto;
    border-radius: 10px;
    width: 300px;
    height: 45px;
    background-color: hsl(245, 75%, 52%);
    margin-top: 40px;
    margin-bottom: 20px;
}

.text-gray{
    font-weight: lighter;
    color: rgb(143, 139, 139);
}

.link-1,
.link-2,
.link-3{
    text-decoration:none;
    font-weight: bold;
    font-size: 14px;
    font-stretch: expanded;
}

.link-1{
    color: hsl(270, 68%, 59%);
}

.link-2{
    position: relative;
    top: 25%;
    color: white;

}